
.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 20px;
 
  }

  
.cart-overlay{
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    
}
.cart-overlay-cont{
    z-index: 99;
    position:fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;

}
.cart-overlay-cont.dnone{
    display: none !important;
}
.cart-overlay-cont.active{
    display: flex !important;
}
.title-cart{
    font-size: 35px;
}
.close-small{
    width: 10px;
    height: 10px;
}
.cart-items-cont{
    height: 55vh;
    width: 100%;
    overflow-y: auto;
}
.cart-items{
    width: 100%;
    /* height: 100vh; */
    /* padding: 20px; */
}
.cart-item{
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid #f6f6f6;
    padding: 10px 0;
    gap: 10px;
    position: relative;
}
.active{
    display: block !important;}

    .cart .close{
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
        z-index: 99;
    }
    .cart-total{
        position: absolute;
        bottom: 20px;
        width: 90%;
        color: var(--Main-Color-Black, #100D22);

/* Heading 24 */
font-family: "Plus Jakarta Sans";
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 124.537%; /* 29.889px */
letter-spacing: -0.72px;
    left: 20px;
    & p{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    }
    .image-div{
        width: 100px;
        height: 100px;
        background-color: #f6f6f6;
        & img{
        object-fit: contain;
width: 100%;
height: 100%;
        }
    }
    .cart-buttons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }
    .checkout{
        padding: 20px 32px;
        border-radius: 32px;
background: var(--Main-Color-Black, #100D22);
color: #fff;
    }
    .view-cart{
        padding: 20px 32px;
        border-radius: 32px;
background: var(--Greyscale-Grey-10, #F6F6F6);
border: 0;
    }
    .cart-item-info p{
        display: flex;
        align-items: center;
        
    }
    .cart-item-info p{
      font-size: 15px;
        
    }
    .no-product{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
    }
    @media (max-width: 990px) {
     .cart-buttons{
        flex-direction: column;
        & button{
            width: 100%;
        }
     }
     .cart-overlay-cont.active .cart{
        display: flex;  
        width: 90%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
     }
    }
    .qnt-gray{
        color: var(--Greyscale-Grey-70, #878690);
        font-family: "Anton SC", sans-serif;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 200% */
    }