.dropdown {
    display: none; /* Hide dropdown by default */
  }
  
  .dropdown.active-dropdown {
    display: block; /* Show dropdown when active */
  }
  
  .overlay {
    display: none; /* Hide overlay by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  }
  
  .overlay.active {
    display: block; /* Show overlay when active */
  }
  