@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.hero {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.hero .left {
    width: 100%;
    height: 100%;
    padding-left: 30px !important;
}

.hero .right {
    width: 25%;
    height: 100%;
    background-image: url("/images/right.png");
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    top: 0;
    right: 0;
    z-index: -1;
}

.hero .right .color {
    height: 100vh;
    opacity: 0.2;
}

header {
    width: 100%;
    /* margin: 0 auto; */
    margin-top: 45px;
    color: #100D22 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
  
}
.details header ul li span{
    color: #100D22 !important;
}
.details header ul li svg{
    fill: #100D22 !important;
}
.shop-circle{
    width: 42px;
    height: 42px;
    border-radius: 50%;
border: 1px solid #FFF;
background: rgba(255, 255, 255, 0.33);
display: flex;
align-items: center;
justify-content:center;
margin-left: 10px;
}
.shop-circle-black{
    width: 42px;
    height: 42px;
    border-radius: 50%;
border: 1px solid #FFF;
background: #f6f6f6;
display: flex;
align-items: center;
justify-content:center;
margin-left: 10px;
}
.hero .shop-circle-black{
    display: none;
}
.hero .black{
    display: none;
}
.details .black{
    display: flex;
}
.details .shop-circle{
    display: none;
}
.details .shop-circle-black{
    display: flex;
}
.details-text h1.title{
    margin-top: 0;
    text-align: left;
}
.details .details-desc .details-text{
    display: flex;
  
    flex-direction: column;
    gap: 12px;
}
.shop{
    display: flex;
    align-items: center;
    justify-content:center;
}

header ul {
    width: 100%;
    display: flex;
    gap: 20px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 150px;
}



span.title {
    background: var(--Main-Color-Gradient, linear-gradient(142deg, #AB238F 0.94%, #DF3295 34.4%, #FE9D9B 71.35%, #FF7770 100.91%));
    background-clip: text;
    -webkit-background-clip: text;
    font-family: "Plus Jakarta Sans";
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 124.537%;
}

h1 {
    letter-spacing: -0.72px;
    color: var(--Main-Color-Black, #100D22);
    line-height: 120px;
    font-family: "Anton SC", sans-serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    z-index: 99;
}

.description {
    color: var(--Greyscale-Grey-70, #878690);
    width: 65%;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

}

.img {
    /* position: absolute; */
    top: 20%;
    /* z-index: 99; */
    object-fit: cover;
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    justify-content: center;
   max-width: 300px;
    left: 60%;
    height: 250px;
    transform: rotate(-7.721deg);
    flex-shrink: 0;
}

.img img {
    width: 100%;
    /* height: 50%; */
}

.images .image:hover {
    border: 1px solid #DF3295;
}

.links {
    /* z-index: 99; */
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 45px;
    margin-left: 30px;
    gap: 20px;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;

    &  li a {
   display: flex;
   align-items: center;
   justify-content:center;
   gap:5px;
    }
}

.white {
    color: white !important;
}

.activeWhite {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.links li.border {
    padding-right: 14px;
    border-right: 1px solid #ccc;
    border-radius: 1px;
}

.hero .overlay-text {
    z-index: -1;
}

.overlay-text {
    color: rgba(229, 229, 229, 0.19);
    font-family: "Anton SC", sans-serif;
    position: absolute;
    top: 50%;
    font-size: 180px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.537%;
}

.nike-overlay {
    opacity: 0.07;
    position: absolute;
    top: 66px;
    max-width: 100px;
}

.select {
    width: 66px;
    height: 40px;
    background-image: url('/images/select.png');
    padding-left: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.select img {
    position: absolute;
    right: 5px;
    top: 30%;
}

.select span {
    color: var(--Main-Color-Black, #100D22);
    font-family: "Anton SC", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.selects {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
}

.price {
    color: var(--Main-Color-Black, #100D22);
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-weight: 800;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 52px;
}

.buttons button:nth-child(1) {
    display: flex;
    padding: 20px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    background: var(--Main-Color-Black, #100D22);

}
.buttons button:nth-child(2) {
    background-color: #878690;
}
.buttons .see-details {
    color: var(--Main-Color-Black, #100D22);
    font-weight: 600;
    font-size: 16px;
    border-bottom: 1px solid var(--Main-Color-Black, #100D22);
    font-family: "Plus Jakarta Sans";
}

.images {
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 8px;
    /* position: absolute; */
    bottom: 5%;
    right: 5%;
    cursor: pointer;
    /* z-index: 99; */
    order: 1;
}

.images img {
    width: 70%;
}

.image {
    width: 10vw;
    height: 20vh;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    flex-shrink:0 ;
}
.flex-column{
    display: flex;
    /* align-items: center; */
    justify-content:space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* background-color: white; */
    gap: 20px;
}
.bottom-section {
    display: flex;
    /* align-items: center; */
    /* justify-content:space-around; */
    gap: 20px;
    width: 100%;
    order: 1;
}

.cart-div {
    /* margin-top: 50px; */
    width: 100%;
    overflow: hidden;
    display: flex;
    /* align-items: center; */
    /* justify-content:center; */
    flex-direction: column;
    gap: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;position: fixed;

}
.hero .text{
    margin-top: 20px;
}
.text-img{
    display: flex;
    /* align-items: center; */
    justify-content:space-between;
    width: 90%;
}
@media (max-width: 1024px) {
    .image {
        width: 35%;
        height: 10vh;
    }

    .images {
        right: 10px;
        width: 30vw;
    }

    .border-left {
        display: none;
    }

    .border-left-none {
        display: none;
    }

    .subscribe .sub {
        text-align: center;
    }

    .subscribe .input-button {
        width: 80% !important;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr !important;
    }

    .subscribe .overlay-text {
        display: none !important;
    }

    .swiper-slide {
        height: 100% !important;
        width: 100% !important;
        cursor: grab;
        flex-shrink: unset !important;
     
    }
}

.favs-trend .swiper-slide img {
    width: 100% !important;
}



.dropdown-burger.active-dropdown a {
    color: white !important;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-weight: 500;
}


.dropdown-burger {
    display: none;
    flex-direction: column;
}
.dropdown-burger.active-dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown a {
    color: white;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-weight: 500;
}

.dropdown.active-dropdown a {
    color: white;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-weight: 500;
}

.dropdown a {
    color: white;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-weight: 500;
}

.dropdown.active-dropdown a {
    color: white;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-weight: 500;
}
.burger-menu{display: none;}
.dropdown {
    display: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000 !important;
}

.dropdown-burger.active-dropdown {
    width: 100vw;
    /* background-color: #878690; */
}
.dropdown-burger.active-dropdown {
    width: 100%;
    height: 60vh;
    /* background-color: #B8B8B8; */
    background: var(--Main-Color-Gradient, linear-gradient(142deg, #AB238F 0.94%, #DF3295 34.4%, #FE9D9B 71.35%, #FF7770 100.91%));
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    z-index: 99 !important;
    position: absolute;
    top: 10%;
    right: 10%;
}

@media(max-width: 990px) {
  
    .grid-col:nth-child(2){
        grid-template-columns: 1fr 1fr;
        grid-column:1/2;
        width: 50%;
    }
    .grid-col:nth-child(1){
        grid-template-columns: 1fr 1fr;
        grid-column:1/3;
        width: 100%;
    }
    .grid-col:nth-child(3){
        grid-column:2/3;
        width: 100%;
    
    }
    .grid-col:nth-child(4){
        grid-column:span 2;
        width: 100%;
    
    }
    .overlay-text {
        display: none;
    }
    .hero .text-img{
        flex-direction: column;
    }
    header ul li {
        display: none;
    }
    .links li {
        display: none;
    }
    .burger-menu {
        display: flex !important;
        /* position: absolute;
        right: 20px;
        top: 40px; */
        width: 30px !important;
        /* z-index: 99; */
    }
    .images{
        order: 1;
    }
    .img {
        width: 70%;
        left: 60%;
    height: 170px !important;

    }
    .image {
        width: 25%;
        height: 25vh;
    }
    
    h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .images {
        order: 1;
        left: 50%;
        width: 100%;
        /* transform: translate(-50%); */
        margin-top: 20px;
    }
    .border-left {
        display: none !important;
    }
    .border-none {
        display: none;
    }
    .blogs .swiper-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    footer {
        grid-template-columns: 1fr 1fr !important;
    }
    input::placeholder,
    button {
        font-size: 11px !important;
    }
    .shipping-payment-support {
        display: flex;
        justify-content: center !important;
        gap: 20px;
    }
    .bottom-section{
        flex-direction: column;
    }
    .flex-column{
        order: 2;
    }
}

@media (max-width: 594px) {
    .hero {
        height: 100% !important;
    }
   
    .links {
        display: none;
    }
    .overlay-text {
        display: none;
    }
    .images {
        top: 62.5%;
        width: 90%;
        /* height: ; */
        margin: 0 15px;
    }
    .image {
        /* width: 80%; */
        height: 15vh;
        
    }
    /* .burger-menu {
        display: flex !important;
       
        width: 30px;
    } */
    .border-left {
        display: none;
    }
    .trending-swiper .swiper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
  
    .bottom-section {
        /* margin-top: 20px; */
        width: 100%;
        height: 40%;
    }
}

@media (max-width: 588px){
    .burger-menu {
        display: flex !important;
       
        width: 30px;
    }
}
.share .product-description{
    background-color: #fff;
}
.subscribe input{
    color: #fff;
}

.orders {
    height: 100%;
    width: 100%;
    background-color: #100d22;
    font-family: "Plus Jakarta Sans";
}

.blog-img img {
    width: 100%;
}

.qty-dropdown,
.size-dropdown {
    position: absolute;
    top: 40px;
    width: 65px;
    overflow: auto;
    border-radius: 5px;
    height: 100px;
    padding: 15px;
    background: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #100d22;
    border: 1px solid #df3295;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 500;
}

.qty-dropdown span:first-child,
.size-dropdown span:first-child {
    padding: 5px 0;
}

.qty-dropdown span:not(:first-child),
.size-dropdown span:not(:first-child) {
    border-top: 1px solid #c8c8c8;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}

.size-dropdown {
    left: 85px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: linear-gradient(142deg, #ab238f 0.94%, #df3295 34.4%, #fe9d9b 71.35%, #ff7770 100.91%);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(142deg, #ab238f 0.94%, #df3295 34.4%, #fe9d9b 71.35%, #ff7770 100.91%);
}

.blog-desc {
    width: 100%;
}

.cont {
    width: 90%;
    margin: 0 auto;
}

.customer-review {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.customer-review div {
    padding: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.orders .price {
    color: #ffffff;
}

.price-text {
    color: #b8b8b8;
    position: relative;
    bottom: -3px;
}

.border-left {
    height: 77px;
    background-color: rgba(255, 255, 255, 0.24);
    width: 1px;
    display: inline-block;
    margin-left: 20px;
}

 h2.title, 
h1.title {
    text-align: center;
    margin: 80px 0 10px 0;
}

.shipping-payment-support {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.shipping-payment-support div {
    gap: 10px;
    width: 234px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.shipping-payment-support .small-title {
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-weight: 700;
}

.shipping-payment-support .small-description {
    color: #878690;
    font-family: "Plus Jakarta Sans";
    text-align: center;
}

.title,.login .title {
    font-family: "Anton SC", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
}

.product-description {
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    & img{
    object-fit: contain;
        
    }
}
.trending .product-description {
    background-color: #f6f6f6;
    
}
.product-description img {
    width: 100%;
    height: 100%;
}

.prod-desc {
    width: 100%;
    height: 80px;
    padding: 10px;
}

.prod-name-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prod-name-price h3 {
    color: #100d22;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-weight: 700;
}

.prod-name-price span,
.prod-category {
    color: #878690;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 500;
    line-break:normal;
}

.prod-category {
    margin-top: 8px;
    display: flex;
    align-items: flex-start;
}

.brands {
    height: 100%;
    padding: 40px 0;
    width: 100%;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.images-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
}

.favs {
    width: 250px;
  
    margin: 0 auto;
}

.all-favs {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
}

.trending {
    width: 100%;
    padding: 40px 0;
    text-align: center;
}

.favs-trend {
    width: 100%;
}

.share-with-us,
.blogs {
    width: 100%;
    padding: 40px 0;
    text-align: center;
}

.sub {
    color: #878690;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

strong {
    color: #100d22;
}

.blog {
    width: 100%;
}

.blog-img {
    width: 100%;
}

.blog-description {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    padding: 15px;
}

p.blog-desc {
    width: 100%;
    text-align: left;
}

.blog-title {
    color: #100d22;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-weight: 700;
}

.blog-desc {
    color: #878690;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 500;
}

.blog-author {
    color: #100d22;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.blog .date {
    color: #878690;
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-weight: 500;
    text-align: left;
}

.subscribe {
    border-radius: 12px;
    background: #100d22;
    width: 100%;
    height: 400px;
    color: white;
    position: relative;
    padding: 100px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.subscribe .overlay-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 180px;
    color: rgba(229, 229, 229, 0.03);
}

.text-title {
    color: #fff;
    text-align: center;
    font-family: "Anton SC", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.537%;
}

.subscribe input {
    border-radius: 32px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.18);
    width: 100%;
    height: 60px;
    padding: 20px;
}

.subscribe input::placeholder,
footer input::placeholder {
    color: #fff;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 500;
}

footer input::placeholder {
    color: #878690;
}

.subscribe .input-button,
footer .input-button {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.subscribe button {
    position: absolute;
    right: 0;
    border-radius: 100px;
    background: linear-gradient(142deg, #ab238f 0.94%, #df3295 34.4%, #fe9d9b 71.35%, #ff7770 100.91%);
    width: 40%;
    height: 54px;
    color: #fff;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 500;
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    width: 100%;
    padding: 80px 0 0 0;
}

.grid-col {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding: 60px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


footer .info {
    display: flex;
    flex-direction: column;
}

footer img {
    width: 100px;
}

footer .title-text {
    color: #100d22;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 500;
}

footer .sub-text {
    color: #878690;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 500;
}

footer .input-button input {
    background-color: #f6f6f6;
    border-radius: 100px;
    width: 100%;
    height: 44px;
    padding: 10px;
}

footer .input-button {
    width: 100%;
}

footer .input-button button {
    background-color: #100d22;
    border-radius: 100px;
    position: absolute;
    right: 0;
    width: 40%;
    height: 44px;
    color: #fff;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 500;
}

footer .social-media {
    display: flex;
    align-items: center;
    gap: 8px;
}

footer .social {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    padding: 5px;
}

.credits {
    margin-top: 0;
    text-align: center;
}
