.shop-cont header ul li span{
    color: #100D22 !important;
}
*{
    font-family: "Plus Jakarta Sans";   
    
}
.shop-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
font-family: "Plus Jakarta Sans";

}
.shop-filter,.all-products{
    width: 100%;
    height: 100% !important;
}
.shop-filter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.color-circles{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}
.color-circle{
    width: 55px;
    height: 55px;
    border-radius: 50%;
  
}
.flex-wrap{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.all-products{
    position: relative;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
gap: 20px;
padding: 40px 0;
    width: 100%;
    height: 100%;
   
}
.price-span{
    display: flex;
    align-items: center;
    gap: 10px;
}
.product-details{
    /* height: 70px;
     */
     padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.filters{
    display: flex;
    gap: 15px;
    width: 100%;
    height: 100px !important;
}
span .close-button{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translate(0, -2px);
    width: 20px;
}
.filters span:hover .close-button{
    visibility: visible;
    opacity: 1;
}
.shop-category,.sort-by span{ 
    cursor: pointer;
}
.filters span{
    display: flex;
    border-radius: 8px;
    border: 1px solid var(--Greyscale-Grey-70, #878690);
    padding: 4px 6px;
    height: 35px;
    color: var(--Greyscale-Grey-70, #878690);
    position: relative;
font-family: "Plus Jakarta Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
cursor: pointer;
}
.product-item{
width: 100%;
height: 100%;
/* background-color: #100D22; */
font-family: "Plus Jakarta Sans";
padding-bottom: 20px;
}
.product-image{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
   
}
.product-image img{
   width: 100%;
    height: 300px;
    object-fit: contain;
}
.close-button{
    position: absolute;
    top: -8px;
    right: -10px;
    color: #100D22;
    font-size: 20px;
}
.active{
    display: flex;
}
.filter
.product-details{
padding:0 9px;
height: 55px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.all-products a{
    color: #100D22 !important;
}
h1.filter-title{
    font-family: "Plus Jakarta Sans";
font-size: 24px;
font-weight: 800;
}
span.filter-title{
    font-family: "Plus Jakarta Sans";
font-size: 16px;
font-weight: 800;
}
@media (max-width: 1200px) {
    .shop-container{
        grid-template-columns: 1fr 2fr;
    }
    .all-products{
        grid-template-columns: repeat(2, 1fr);
    }
}
.filter-toggle-btn{
    display: none;
  
}
@media (max-width: 990px) {
    .no-product img {
        position: absolute;
        top: 0px;
    }
    .filters{
        flex-direction: column;
        gap: 10px;
    }
    .all-products{
        padding: 200px 0;
    }
    .shop-container{
        grid-template-columns: 1fr;
    }
    .all-products{
        grid-template-columns: repeat(2, 1fr);
    }
   .color-circles{
    display: flex;
    align-items: space-between;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
   }
  
   .filter-toggle-btn{
    display: flex !important;
   
   }
 
 
}
 .filter-toggle-btn.active
  .close-filter{
    position: absolute;
    top: 100px;
    right: 10px
  }
  .sort-by{
    width: 100%;
  }
.shop span.filter-toggle-btn.close-filter{display: none;}
.sort-by-container{
    position: relative;
}
.sort-by{
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: flex-end;
   
    gap: 10px;
}
@media (max-width: 768px) {
    .all-products{
        grid-template-columns: 1fr;
        height: 100% !important;
        overflow-y: scroll;
    }
   
}
.gray{
    background-color: #aba7a7;
}
.pink{
    background-color: #D96D6D;
}
.dark-pink{
    background-color: #BA4164;
}
.pastel-blue{
    background-color: #56A1AD;
} 
.purple{
    background-color: #5848CA;
}
.olive{
    background-color: #A8BD84;
}
.color-circle.black{
    background-color: #100D22;
}
.color-circle.white{
    background-color: #e2dddd;
}
/* price-range */

.css-188mx6n-MuiSlider-root{
    color: #100D22 !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.filter-toggle-btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    display: none;
    font-family: "Plus Jakarta Sans";   
    font-size: 16px;
    font-weight: 800;
    color: #100D22;
}
.close-filter{
    display: none;
}
.shop-filter input{
    width: 97px;
height: 38px;
border-radius: 4px;
border: 1px solid var(--Greyscale-Grey-70, #878690);
opacity: 0.5;
padding: 10px;
}
.price-range,.shop-category{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 10px;
}
.no-product{
    /* display: none; */
    width: 100%;
    height: 100%;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 0;
left: 0;
}


.filters{
    position: absolute;
}