.wishlist header ul li span{
    color: #100D22 !important;
}

.grid-header,.grid-row{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr; 
    width: 100%;
}


.wishlist .grid-row div input{
    display: block;
}
.wishlist .grid-row div{
display: flex;
align-items: center;
}
.wishlist .grid-row div:nth-child(1) {
gap: 100px;
   
}
.fd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start !important;
    gap: 8px;
}
.Instock{
    padding: 4px 16px;
    display: flex;
    border-radius: 8px;
background: rgba(154, 246, 174, 0.31);
color: #0EB431;
}
 .category{
    color: #878690;
 }
 .grid-header:nth-child(1) div{
    font-weight: 600 !important;
 }
 .add-to-cart,.wishlist-delete-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
border: 1px solid var(--Main-Color-Black, #100D22);
padding: 4px 16px;
width: 100%;
height: 50px;
background-color: transparent;
 }
 .media,.wishlist-delete-button{
    display: none !important;
 }
 .wishlist-delete-button{
    width: 90%;
    border-radius: 32px;
border: 1px solid #FF7770 ;
 }
 .container-check-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container-check:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-check input:checked ~ .checkmark {
    background-color: #100D22;
  }
  .container-check{
    position: relative;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .grid-row div:nth-last-child(1){
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  /* Show the checkmark when checked */
  .container-check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
.OutOfStock{
    padding: 4px 16px;
    display: flex;
    border-radius: 8px;
    background: rgba(255, 0, 0, 0.31);
    color: #FF0000;

}
.wishlist-image{
  width: 50%;
    height: 50%;
    object-fit: contain;
    background-color: #f6f6f6;
    & img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.buttons-wishlist{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    flex-direction: column;
    & button{
        width: 100%;
    }
}
.check-out{
  padding: 20px 32px;
  border-radius: 32px;
background: var(--Main-Color-Black, #100D22);
color: #fff;
}
.no-products{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.wishlist-delete{
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 990px) {
  .grid-header{
        display: none !important;
    }.grid-row{
display: flex;
flex-wrap: wrap;
    }
    .buttons-wishlist{
      width: 100% !important ;
    }
    .wishlist-image{
        width: 70%;
        height: 70%;}
    .wishlist-price,.Instock.desk,.OutOfStock.desk,.wishlist-delete{
        display: none !important;
    }
    .media{
        display: flex !important;
    }
    .wishlist-cart,.wishlist-delete-button{
        width: 100% !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }
}    
  